/* * {border: solid 1px;} */

:root {
  --dark-primary: #2C2D32;
  /* --dark-secondary: #1F4287; */
  --dark-secondary: #577ecd;
  --dark-tertiary: #278EA5;
  --dark-quaternary: #21E6C1;
  --light-primary: #EEF5FF;
  --light-secondary: #B4D4FF;
  --light-tertiary: #86B6F6;
  --light-quaternary: #176B87;

  /* coolors  */
  --pacific-cyan: #2fa9cbff;
  --turquoise: #2bcdbbff;
  --bice-blue: #0a6b9aff;
  --caribbean-current: #0e5e68ff;
  --midnight-green: #123d47ff;
  --ash-gray: #a4b196ff;
  --jet: #2c2d32ff;
}

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* default colors */
  background-color: var(--dark-primary);
}

/* everything COLOR */
body, a, button, #hamburger-menu {
  color: white;
}
#hamburger-menu {
  background-color: transparent;
  border: none;
  font-size: 1.4em;
}
/* everything SHADOW */
#home-content-box #card-img, .button {
  box-shadow:
  0px 1.4px 1.9px rgba(0, 0, 0, 0.057),
  0px 3.2px 4.3px rgba(0, 0, 0, 0.082),
  0px 5.7px 7.7px rgba(0, 0, 0, 0.101),
  0px 9.5px 12.8px rgba(0, 0, 0, 0.119),
  0px 15.6px 21.2px rgba(0, 0, 0, 0.138),
  0px 27.3px 37px rgba(0, 0, 0, 0.163),
  0px 59px 80px rgba(0, 0, 0, 0.22);
}
#home-content-box h1, #home-content-box p {
  text-shadow: 
  0px 1.4px 1.9px rgba(0, 0, 0, 0.057),
  0px 3.2px 4.3px rgba(0, 0, 0, 0.082),
  0px 5.7px 7.7px rgba(0, 0, 0, 0.101), 
}
.subsection {
  position: relative;
}
.subsection:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 80%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/* ` flexes and sections */
.flex-row,
.flex-col {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.subsection {
  padding: 100px 50px;
}
.blue-text {
  color: var(--dark-secondary);
}

.row-switch {
  width: 100%;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* color: white; */
  background: linear-gradient(
    to bottom,
    var(--dark-primary),
    transparent
  );
  z-index: 1000;
}

#logo, #nav-list {
  text-wrap: nowrap;
  margin: 0 1.5em;
}
#logo {
  font-weight: 800;
  font-size: 1.2em;
  cursor: default;
}
#nav-list {
  width: 60%;
  max-width: 700px;
}
#nav-list ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
#nav-list a {
  text-decoration: none;
  font-weight: 300;
}
#hamburger-menu {
  height: 2em;
  margin: 0;
  display: none;
}

/* Brackets animation */
#nav-list li {
  position: relative;
}
#nav-list a:before, #nav-list a:after {
    position: absolute;
    opacity: 0;
    top: -3px;
    font-weight: 800;
    font-size: 1.2em;
    transition: all 0.3s;
}
#nav-list a:before {
    content: '<';
    left: -15px;
    transform: translateX(10px);
}
#nav-list a:after {
    content: '>';
    right: -15px;
    transform: translateX(-10px);
}
#nav-list a:hover:before, #nav-list a:hover:after {
    opacity: 1;
    transform: translateX(0px);
    font-weight: 800;
    font-size: 1.2em;
    color: var(--dark-secondary);
}
#nav-list a:active:before, #nav-list a:active:after {
  color: #fff;
}

/* FOOTER */
footer {
  text-align: center;
  font-size: 0.85em;
  vertical-align: middle;
}
footer p {
  margin: 0.3em;
}

/* SECTIONS */
#home {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#home-content-box {
  text-align: center;
  font-size: 2em;
  margin: 0;
}

#home-content-box h1, #home-content-box p {
  margin: 0;
}
#home-content-box p {
  font-size: 0.74em;
}

/* CARD HOVER EFFECT */
#home-content-box .card, #card-img {
  height: 6em;
  transition:
    opacity 0.36s ease,
    transform 0.36s ease,
    filter 0.36s ease;
}
#home-content-box #card-hover-effect-area {
  position: relative;
}
#home-content-box #card-img {
  border-radius: 20px;
}
#home-content-box #png-img {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.1, 1.1) translateX(7%) translateY(3%);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, white 7%);
  -moz-mask-image: linear-gradient(to top, transparent 0%, white 7%);
  -ms-mask-image: linear-gradient(to top, transparent 0%, white 7%);
  mask-image: linear-gradient(to top, transparent 0%, white 7%);
}
#home-content-box #card-hover-effect-area:hover > #card-img {
  transform: perspective(900px) translateY(9.7%) rotateX(50deg) translateZ(0);
  filter: brightness(33%);
}
#home-content-box #card-hover-effect-area:hover > #png-img {
  opacity: 1;
  transform: scale(1.1, 1.1) translateX(7%) translateY(-10%);
}
#home-content-box #card-hover-effect-area:hover {
  cursor: pointer;
}
/* card click feature */
/* #home-content-box #card-hover-effect-area:active > #card-img {
  transform: perspective(900px) rotateY(180deg);
  filter: brightness(100%);
}
#home-content-box #card-hover-effect-area:active > #png-img {
  opacity: 0;
} */

/* pointer-anim */
@keyframes slide {
  0% { transform: translateX(0%) translateY(0%); }
  50% { transform: translateX(-69%) translateY(-69%); }
  100% { transform: translateX(0%) translateY(0%); }
}
#pointer-anim {
  width: 1em;
  position: absolute;
  animation: slide 3s infinite;
  bottom: -50px;
  right: -40px;
}
#home-content-box #card-hover-effect-area:hover > #pointer-anim {
  display: none;
}

/* arrow */
#arrow-box {
  position: absolute;
  bottom: 20px;
  padding: 25px;
}
#arrow {
  width: 25px;
  height: 25px;
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  transition: all 0.36s ease;
}
#arrow-box:hover > #arrow {
  transform: translateY(20px) rotate(45deg);
  -webkit-transform: translateY(20px) rotate(45deg);
  border: solid var(--dark-secondary);
  border-width: 0 3px 3px 0;
}
#arrow-box:active > #arrow {
  border: solid var(--dark-tertiary);
  border-width: 0 3px 3px 0;
}

/* About me */
.scroll-x {
  overflow-y: auto;
  width: 100%;
  padding-bottom: 20px;
}
.scroll-x-content {
  min-width: fit-content;
}
#about-me-row {
  align-items: stretch;
}
.about-me-cards {
  background-color: var(--dark-secondary);
  padding: 20px;
  width: 20%;
  min-width: 169px;
  margin: 0;
  display: flex;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  transition: all 0.36s;
}
.about-me-cards p {
  margin: auto;
  padding: 0;
}
.about-me-cards:hover {
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.18);
  /* background-color: var(--dark-tertiary); */
}
/* todo OVERFLOW */

/* Resume/CV */

.bar {
  background-color: var(--dark-tertiary);
  border-radius: 15px;
  max-width: 75dvw;
  padding: 1em 2em;
  color: var(--dark-primary);
  text-align: center;
}
.bar p {
  font-size: 1.2em;
}
.button {
  padding: 1em 2em;
  border: none;
  border-radius: 12px;
  background-color: var(--dark-secondary);
  font-weight: 600;
  font-size: 1em;
  transition: all 0.36s;
  text-wrap: nowrap;
}
.button:hover {
  box-shadow: inset 0 0 0 5em rgba(255, 255, 255, 0.12);
  /* background-color: var(--dark-tertiary); */
}
.button:active {
  box-shadow: inset 0 0 0 5em rgba(0, 0, 0, 0.12);
  /* background-color: var(--dark-quaternary); */
}

/* scrolling */

/* width */
::-webkit-scrollbar {
  height: 10px;
  transition: all 0.36s;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
/* Add styles for other sections, links, and interactive elements as needed */

/* 










the void.....









*/

/* media queries */

@media screen and (max-width: 850px) {
  #hamburger-menu {
    display: block;
    margin-right: 2em;
  }
  #nav-list ul li:last-child {
    display: none;
  }
  #nav-list {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  #nav-list ul li:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  #nav-list ul li:nth-last-child(3) {
    display: none;
  }
  .flex-row {
    row-gap: 0;
    column-gap: 20px;
  }
  #home-content-box {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 550px) {
  #nav-list ul li:nth-last-child(4) {
    display: none;
  }
  .row-switch {
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  #nav-list ul li:nth-last-child(5) {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  #home {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1500px) {
  #home {
    font-size: 1.5em;
  }
  .flex-row {
    max-width: 80%;
  }
}
@media screen and (min-width: 1800px) {
  #home {
    font-size: 2em;
  }
}